.centre {
    p {
        margin: $centre;
    }
}

.foot {
    background-color: $brown-bgr;
    color: $beige;
}

.fondo-img {
    background-color: $grey-bgr;
    margin: 10px;
}

.red {
    color: $title-red;
}

.fa-quote-left {
    color: $title-red;
    font-size: 100px;
    padding: 10px;
}